<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ringoid.origin">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".view.filters.FiltersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.error.NoNetworkConnectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.error.OldAppVersionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.web.WebPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <service
            android:name=".push.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Meta for push notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id_default" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push_notification_24dp"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/white"/>
    </application>
</manifest>
