<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ringoid.origin.imagepreview">

    <application>
        <activity
            android:name=".view.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePreviewTheme"/>
    </application>
</manifest>
