<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ringoid.origin.feed">

    <application>
        <activity
            android:name=".view.dialog.BlockBottomSheetActivity"
            android:theme="@style/AppTheme.Dark.SemiTransparent"/>
    </application>
</manifest>
