<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ringoid.origin.usersettings">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.debug.DebugActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.filters.SettingsFiltersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.language.SettingsLangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.profile.SettingsProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.push.SettingsPushActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>

        <activity
            android:name=".view.info.SettingsAppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"/>
    </application>
</manifest>
