<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ringoid.main">

    <application>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true" android:order="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:host="ringoid.com"/>
                <data android:pathPrefix="/main"/>
                <data android:scheme="splash"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
