<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ringoid.origin.app">

    <application
        android:allowBackup="false"
        android:name=".RingoidApplication"
        android:label="${appName}"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.Dark">

        <activity
            android:name=".deeplink.DeepLinkHandlerActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter android:autoVerify="true" android:order="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:host="ringoid.com"/>
                <data android:scheme="appnav"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ringoid.origin.view.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89dbf76a6060d765a50797055e5dbedaf7e0062d"/>
    </application>
</manifest>
