<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ringoid.origin.profile">

    <application>
        <activity
            android:name=".dialog.context_menu.UserProfileContextMenuActivity"
            android:theme="@style/AppTheme.Dark.SemiTransparent"/>
    </application>
</manifest>
